{
  "extends": "airbnb",
  "rules": {
    // 줄 마지막 , 는 생략 가능
    "comma-dangle": 1,

    // 행의 최대 길이는 140
    "max-len": [
      1,
      140
    ],

    // 가독성을 위해 private 변수 앞에 _ prefix 붙이기 허용
    "no-underscore-dangle": 0,

    // ++ 문법은 for 루프안에서만 허용
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ]
  }
}
